.margin-home {
  margin-top: 10vh;
}

.preview-border {
  border: 1px solid gray !important;
}

.preview-margin {
  margin-left: 1px;
}

.preview-container {
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}

.preview-button {
  padding: 0px;
}

.course-btn {
  height: 10vw;
}
