
.change-password {
  display: grid;
  border: 1px solid rgb(204, 199, 199);
}

.btn-border {
  border: black 1px solid !important;
}

.errorMessage {
  color: rgba(39, 39, 194, 0.801);
}

.error-text {
  color: red;
}

.link-line-gap {
  gap: 5px;
  flex-wrap: wrap;
}

