.course-button:hover {
  a {
    color: white;
  }
}

.course-link {
  color: #1c9941;
  text-decoration: none !important;
}

.course-link:hover {
  color: white;
  text-decoration: underline !important;
}

.course-note-text {
  margin-bottom: 0px !important;
  padding: 0px !important;
  font-size: 15px;
}

.text-start:hover {
  text-decoration: underline !important;
}