#sidebar {
  height: 100%;
  transition: all 0.3s;
  border-right: 1px solid #1c9941;
  padding-left: 15px;

  font-size: 20px;
  text-decoration: none;

  span {
    margin-right: 5px;
  }
  li {
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    color: rgb(39, 61, 71);
  }

  a:hover {
    color: rgb(85, 116, 138);
  }
}

.sidebar-divider {
  color: #1c9941;
  width: 20vw;
}
